<!-- {% load static tailwind_tags %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Snacks Tracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- {% tailwind_css %} -->
    
    <!-- <script src="{% static 'darkmode.js' %}"></script> -->
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal dark">
    <header>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'snacks' %}">Snacks</a>
        <a href="{% url 'about' %}">About</a>
    </header>
    
    <!-- <div class="dark-mode-toggle">
        <input type="checkbox" id="darkModeToggle" class="dark-mode-toggle__checkbox">
        <label for="darkModeToggle" class="dark-mode-toggle__label">Dark Mode</label>
    </div> -->
    
    <div class="container mx-auto">
        <section class="flex items-center justify-center h-screen">
            {% block content %}
            {% endblock %}
        </section>
    </div>
</body>

</html>
